* {
    padding: 0;
    margin: 0;

}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 30px;
    padding: 2rem;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 30px;
    padding: 2rem;
}

h3 {
    text-align: center;
}

header {
    background-color: #003399;
    color: #FFFF00;
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    padding: 1rem;
}

.logo {
    width: 15rem;
    float: left;
}

.destaques {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 1rem;
    line-height: 1.5rem;
    color: #003399;
}

#destaques {
    color: #003399;
}

#artigos {
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 1rem;
    color: #fefefe;
}

p {
    margin-bottom: 1rem;
}

nav {
    text-align: right;
    font-family: "Anek Telugu", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    padding: 0.5rem;
}

hr {
    border-radius: 20px;
    height: 2px;
    background-color: #cecece;
    border-color: #cecece;
}

.artigos {
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
}

.artigo1 {
    text-align: center;
    line-height: 1.5rem;
    flex-wrap: wrap;
    margin: 0rem 1rem 2rem 1rem;
    padding: 1rem;
    background-color: #001b50;
    border-radius: 20px;
    width: 70rem;
}

.artigo2 {
    text-align: center;

    line-height: 1.5rem;
    flex-wrap: wrap;
    margin: 0rem 1rem 2rem 1rem;
    padding: 1rem;
    background-color: #001b50;
    border-radius: 20px;
    width: 70rem;
}

footer {
    background-color: #003399;
    color: #cecece;
    text-align: center;
    padding: 1rem;
    line-height: 1.5rem;
}

span {
    color: #FFFF00;
    font-size: 20px
}

.audio {
    text-align: center;
    padding: 1rem;
}

.primeiroConteudo {
    background-color: #FFFF00;
    margin: 0;
    padding: 0;
}
.segundoConteudo {
    background-color: #003399;
    margin: 0;
    padding: 0;
}

.terceiroConteudo {
    background-color: #e7e700;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.oCarroDoAno {
    background-color: #e7e700;
    border-radius: 20px;
    padding: 2rem;
}

.maisEconomico {
    background-color: #e7e700;
    border-radius: 20px;
    padding: 2rem; 
}

.inovacaoDoAno {
    background-color: #e7e700;
    border-radius: 20px;
    padding: 2rem;
}
